* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

/* CABEÇALHO */

header {
    background-color: #375A7F;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

nav a {
    color: #AFBDCC;
    font-size: medium;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}

#nav-a--ativo,
nav a:hover {
    color: white;
}

nav a:hover {
    font-weight: bold;
}

/* TEXTO */

h1,
p {
    color: white;
    text-align: center;
}

h1 {
    margin-bottom: 25px;
}

#texto p {
    text-align: left;
    font-size: larger;
    margin: 0px 100px 5px;
}

/* LINKS */

a {
    color: #00BC8C;
}

a:hover {
    color: #006C50;
}

#sites-favoritos a {
    display: flex;
    justify-content: center;
    font-size: larger;
    padding-bottom: 10px;
}

/* IMAGEM */

#index img {
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 40px;
}

/* LISTAS */

ul,
ol {
    color: white;
}

ul {
    font-size: larger;
    text-align: center;
}

li {
    list-style-type: none;
}

/* TABELAS */

table {
    color: white;
    width: 95%;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}

#tabela-aulas,
#tabela-engenharia {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#tabela-engenharia {
    width: 40%;
}

td,
th {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.td--almoco-intervalo {
    background-color: black;
}

/* HOBBIES */

#hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    gap: 24px;
}

.hobby-card {
    text-align: center;
    background-image: linear-gradient(to bottom right, #2e4053, #5d6d7e);
    border-radius: 12px;
    padding: 24px;
}

.hobby-card h2 {
    color: white;
    font-size: xx-large;
    margin-bottom: 10px;
}

.hobby-card img {
    border-radius: 12px;
}