* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}

body {
    background-color: #222222;
}

header {
    background-color: #375A7F;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

nav a {
    text-decoration: none;
    color: #AFBDCC;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: medium;
}

nav a.ativo,
nav a:hover {
    color: #fff;
}

nav a:hover {
    font-weight: bold;
}

h1,
p {
    color: #fff;
    text-align: center;
}

h1 {
    margin-bottom: 3vh;
}

a {
    color: #00BC8C;
}

.a--sites-favoritos {
    display: flex;
    padding-bottom: 10px;
    font-size: larger;
    justify-content: center;
}

a:hover {
    color: #006C50;
}

img {
    margin-bottom: 5vh;
    border-radius: 50%;
    border: 5px solid white;
}

/* LISTAS */

ul,
ol {
    color: #fff;
}

ul {
    font-size: larger;
    text-align: center;
}

li {
    list-style-type: none;
}

/* TABELAS */

table {
    color: #fff;
    border: 1px solid black;
    width: 95%;
    table-layout: fixed;
    border-collapse: collapse;
}

#tabela-aulas,
#tabela-engenharia {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#tabela-engenharia {
    width: 40%;
}

td,
th {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.td--almoco-intervalo {
    background-color: black;
}

#texto p {
    font-size: larger;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

#formacao p {
    font-size: larger;
    text-align: center;
}

#legenda {
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

#hobbies {
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

/* HOBBY CARD */

.hobby-card {
    background-image: linear-gradient(to bottom right, #2e4053, #5d6d7e);
    border-radius: 12px;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hobby-card h2 {
    margin-top: 0;
    color: #fff;
    font-size: 1.8rem;
}

.hobby-card p {
    font-size: 1rem;
    line-height: 1.5;
}

.hobby-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}